In [1]:
import pandas as pd
import regex as re
import msoffcrypto
import openpyxl
from io import BytesIO
#pd.set_option('display.max_columns', None)

## Loading the data

In [2]:
#Load all the data into dataframes from our documents
censo = pd.read_csv(r"Comercial_Censo.csv",sep=";", encoding='latin1')
meteo=pd.read_csv(r"Comercial_Meteorología.csv")
com_test=pd.read_csv(r"Comercial_Test.csv",sep=";", encoding='latin1')
ventas=pd.read_csv(r"Comercial_Ventas.csv",sep=";", encoding='latin1')

#The excel document is encrypted, we need to decrypt it
file_path = r"Comercial_ParqueVehiculos1.xlsx"
password = "IndesIA2022!"

with open(file_path, 'rb') as file:
    encrypted_file = msoffcrypto.OfficeFile(file)
    encrypted_file.load_key(password=password)
    
    decrypted_file = BytesIO()
    encrypted_file.decrypt(decrypted_file)
    decrypted_file.seek(0)

    #We load the data from the excel file differenciating the years
    parque2016 = pd.read_excel(decrypted_file, engine='openpyxl', sheet_name=0, header=2)
    parque2017 = pd.read_excel(decrypted_file, engine='openpyxl', sheet_name=1, header=2)
    parque2018 = pd.read_excel(decrypted_file, engine='openpyxl', sheet_name=2, header=2)

## Cleaning Censo Dataset

In [3]:
def clean_name(text):
    return re.sub(r'^\d+\s*', '', text).strip()
censo['Municipio'] = censo['Municipio'].apply(clean_name)

dfs = []

#Lets transform the dataframe to handle easier the data
for year in censo.columns[1:]:
    temp_df = censo[['Municipio', year]].copy()
    temp_df.columns = ['Municipio', 'Total_Poblacion']
    temp_df['Año'] = year
    dfs.append(temp_df)

df_concatenated = pd.concat(dfs, ignore_index=True)
censo=df_concatenated

## Cleaning the Meteo Dataset

In [4]:
#Dropping the unnamed columns
meteo=meteo.drop(columns=["Unnamed: 0"])

#Fixing the name of the populations
meteo=meteo.replace("A CORUA","Coruña, A")

#Dropping useless columns
meteo.drop(columns=["provincia","indicativo","nombre"],inplace=True)

#Transforming the date to datetime
meteo["fecha"]=pd.to_datetime(meteo["fecha"])

#Creating new date columns
meteo['Year'] = pd.DatetimeIndex(meteo['fecha']).year
meteo['Month'] = pd.DatetimeIndex(meteo['fecha']).month 
meteo['Day'] = pd.DatetimeIndex(meteo['fecha']).day 
meteo['Weekday'] = pd.DatetimeIndex(meteo['fecha']).weekday

#Checking null values
meteo.isna().sum()
meteo.loc[meteo.isna().any(axis=1)]
meteo=meteo.dropna()

#Setting the date column as the index
#meteo.set_index("fecha",inplace=True)

## Cleaning Test Dataset

In [5]:
# Dropping the Unnamed column
com_test=com_test.drop(columns=["Unnamed: 0"])

# Converting the Dia column to datetime
com_test["Dia"] = pd.to_datetime(com_test["Dia"])

#Creating new date columns
com_test['Year'] = pd.DatetimeIndex(com_test['Dia']).year
com_test['Month'] = pd.DatetimeIndex(com_test['Dia']).month 
com_test['Day'] = pd.DatetimeIndex(com_test['Dia']).day 
com_test['Weekday'] = pd.DatetimeIndex(com_test['Dia']).weekday

#setting the index to the date
#com_test.set_index("Dia",inplace=True)

## Cleaning Ventas Dataset

In [6]:
#Dummifying the column Fiesta
ventas["Fiesta"]= ventas["Fiesta"].apply(lambda x: 1 if pd.notna(x) else 0)

#Creating date columns
ventas['Year'] = pd.DatetimeIndex(ventas['Dia']).year
ventas['Month'] = pd.DatetimeIndex(ventas['Dia']).month 
ventas['Day'] = pd.DatetimeIndex(ventas['Dia']).day 
ventas['Weekday'] = pd.DatetimeIndex(ventas['Dia']).weekday

#Lets check the missing values in the ventas dataset
ventas.info()
ventas.loc[ventas.isna().any(axis=1)]

#We take a look on the column PVP to analyze the possible cause od the missing values. Seeing that is a small amount of data we can drop it
pvpnan=ventas.loc[ventas["PVP"].isna()==True]

ventas=ventas.dropna()

#Setting the index to the date
ventas["Dia"] = pd.to_datetime(ventas["Dia"], format='%d/%m/%Y')
#ventas.set_index("Dia",inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26304 entries, 0 to 26303
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Dia       26304 non-null  object
 1   Producto  26304 non-null  object
 2   Latitud   26303 non-null  object
 3   Longitud  26303 non-null  object
 4   PVP       25080 non-null  object
 5   VentasN   26288 non-null  object
 6   Nombre    26304 non-null  object
 7   Day       26304 non-null  int32
 8   Month     26304 non-null  int32
 9   Year      26304 non-null  int32
 10  Weekday   26304 non-null  int32
 11  Fiesta    26304 non-null  int64
dtypes: int32(4), int64(1), object(7)
memory usage: 2.0+ MB

## Cleaning Parque Dataset

In [7]:
parque2016.columns=parque2016.columns.str.replace("\n"," ")
parque2017.columns=parque2017.columns.str.replace("\n"," ")
parque2018.columns=parque2018.columns.str.replace("\n"," ")

#Lets clean thhe parques dataset
parque2016=parque2016.drop(columns=["PROVINCIAS"])
parque2017=parque2017.drop(columns=["PROVINCIAS"])
parque2018=parque2018.drop(columns=["PROVINCIAS"])

#We rename the columns to avoid confusion when merging the dataframes 
parque2016=parque2016.add_suffix("_2016")
parque2017=parque2017.add_suffix("_2017")
parque2018=parque2018.add_suffix("_2018")

#This dataset has the Camiones and furgonetas merged, while the others it has them separated. We will merge them in the other datasets due we dont have the data about the individual types of vehicles
parque2016.columns

parque2017["CAMIONES y FURGONETAS_2017"]=parque2017["CAMIONES_2017"]+parque2017["FURGONETAS_2017"]
parque2017=parque2017.drop(columns=["CAMIONES_2017","FURGONETAS_2017"])

parque2018["CAMIONES y FURGONETAS_2018"]=parque2018["CAMIONES_2018"]+parque2018["FURGONETAS_2018"]
parque2018=parque2018.drop(columns=["CAMIONES_2018","FURGONETAS_2018"])

#Rename the columns to merge the datasets
parque2016 = parque2016.rename(columns={"MUNICIPIOS_2016": "MUNICIPIOS"})
parque2017 = parque2017.rename(columns={"MUNICIPIOS_2017": "MUNICIPIOS"})
parque2018 = parque2018.rename(columns={"MUNICIPIOS_2018": "MUNICIPIOS"})

#Lets create a single dataset with the data from the 3 years
parque_m=pd.merge(parque2016,parque2017,how="inner",on="MUNICIPIOS")
parque=pd.merge(parque_m,parque2018,how="inner",on="MUNICIPIOS")

parque.columns=parque.columns.str.capitalize()

years = ['2016', '2017', '2018']

long_format = []
for index, row in parque.iterrows():
    for year in years:
        long_format.append({
            'Municipios': row['Municipios'],
            'year': year,
            'Camiones y furgonetas': row[f'Camiones y furgonetas_{year}'],
            'Autobuses': row[f'Autobuses_{year}'],
            'Turismos': row[f'Turismos_{year}'],
            'Motocicletas': row[f'Motocicletas_{year}'],
            'Tractores industriales': row[f'Tractores industriales_{year}'],
            'Remolques y semirremolques': row[f'Remolques y semirremolques_{year}'],
            'Otros vehículos': row[f'Otros vehículos_{year}'],
            'Total': row[f'Total_{year}'],
        })

parque = pd.DataFrame(long_format)

parque.head()

parque.duplicated().sum()

parque.nunique()

for col in parque.columns:
    print(parque[col].unique())

parque.isnull().sum()

#Lets change this value to avoid confusion
result = parque[parque['Municipios'] == 'Coruña (A) ( municipio sin especificar)']
parque=parque.replace("Coruña (A) ( municipio sin especificar)","Otro")

['Abegondo' 'Ames' 'Aranga' 'Ares' 'Arteixo' 'Arzúa' 'Baña, A' 'Bergondo'
 'Betanzos' 'Boimorto' 'Boiro' 'Boqueixón' 'Brión' 'Cabana de Bergantiños'
 'Cabanas' 'Camariñas' 'Cambre' 'Capela, A' 'Carballo' 'Cariño' 'Carnota'
 'Carral' 'Cedeira' 'Cee' 'Cerceda' 'Cerdido' 'Coirós' 'Corcubión'
 'Coristanco' 'Coruña (A) ( municipio sin especificar)' 'Coruña, A'
 'Culleredo' 'Curtis' 'Dodro' 'Dumbría' 'Fene' 'Ferrol' 'Fisterra'
 'Frades' 'Irixoa' 'Laracha, A' 'Laxe' 'Lousame' 'Malpica de Bergantiños'
 'Mazaricos' 'Mañón' 'Melide' 'Mesía' 'Miño' 'Moeche' 'Monfero' 'Mugardos'
 'Muros' 'Muxía' 'Narón' 'Neda' 'Negreira' 'Noia' 'Oleiros' 'Ordes'
 'Oroso' 'Ortigueira' 'Outes' 'Oza-Cesuras' 'Paderne' 'Padrón' 'Pino, O'
 'Pobra do Caramiñal, A' 'Ponteceso' 'Pontedeume'
 'Pontes de García Rodríguez, As' 'Porto do Son' 'Rianxo' 'Ribeira' 'Rois'
 'Sada' 'San Sadurniño' 'Santa Comba' 'Santiago de Compostela' 'Santiso'
 'Sobrado' 'Somozas, As' 'Teo' 'Toques' 'Tordoia' 'Touro' 'Trazo'
 'Val do Dubra' 'Valdoviño' 'Vedra' 'Vilarmaior' 'Vilasantar' 'Vimianzo'
 'Zas' 'Total provincia']
['2016' '2017' '2018']
[  606   620   624  1524  1592  1641   194   206   204   201   208  2827
  2870  2908   740   752   747   276   282  1070  1077  1096   935   937
   931   232   240   241  1588  1583  1591   520   519   535   529   536
   533   476   471   478   358   370   364   473   482  1972  1962  2012
   125   126  3401  3520  3598   265   269   262   224   237   246   802
   806   808   609   600   597   643   649   665   632   636   659   143
   138   145   167   179   185   104   102   733   724   731     9 12525
 12555 12582  2102  2190  2230   570   588   585   251   255   356   363
   375   737   749  3369  3336  3308   249   252   260   270   139   137
  1177  1188  1226   284   285   334   348   361   505   494   492   446
   462   120   127   136   902   914   952   331   325   330   402   425
   422   132   131   196   207   253   247   577   576   579   453  2237
  2290  2340   455   464   477   548   546   549  1214  1237  2058  2085
  2112  1202  1205  1247   583   608   621   662   667   628   639   487
   498   507  1005   994  1013   433   431   627   528   544   518   515
   512  1185  1173  1192   658   676   886   860   846  1680  1666  1692
   474   458  1059  1027  1014   295   291   304   981  1006  1043  8015
  8044  8076   181   183   195   233   226   228   141   142  1514  1551
  1571   158   155   161   337   445   292   296   394   424   439   460
   470   480   596    88    96   106   176   197   217   990  1003  1033
   558   561 84241 85026 85989]
[   0    1    2   49   48   42   12   11   13   57    4    9   10   50
   52   30   27   24   19   20   21   23    6    5    7   47   14   15
   39  295  368  377   81   83  149  144   17   16   18   28    8   29
   32   31   25   33   34   38   36  176  178  177   22 1608 1643 1661]
[  3515   3592   3668  14263  14863  15252   1221   1239   1257   2728
   2791   2899  16303  16766  17320   3583   3608   3684   2246   2272
   2293   4318   4453   4500   6818   6937   7052   1272   1286   1302
   9635   9867  10080   2643   2667   2743   4151   4289   4399   2960
   3011   3012   2274   2365   2325   2689   2740   2779  12734  13138
  13515    881    861  18128  18629  19213   2071   2089   2078   2239
   2263   2285   3554   3661   3834   3483   3510   3548   3969   4036
   4132   3196   3253   3275    742    754    763   1167   1173   1210
    798    816    834   3898   3936   3929     26     24 111538 112116
 112956  14838  15281  15713   2409   2452   2505   1788   1799   1828
   2051   2147   2160   7899   8009   8124  36912  37246  37478   2023
   2083   2128   1635   1646   1676    822    844    871   6665   6810
   6974   1721   1758   1793   2094   2138   2179   3133   3170   3159
   2768   2804   2858    819    833    840   3960   4016   4094   1830
   1855   1857   2997   3101   3206    832    856    876   1363   1361
   1393   2952   3019   3059   4574   4615   4680   2760   2795   2875
  20887  21362  21920   3154   3175   3224   3882   3970   4072   7265
   7406   7547  19963  20605  20991   7242   7457   7648   4071   4169
   4261   3617   3646   3687   4148   4198   4225   3168   3216   3298
   1528   1557   1572   5121   5177   5334   2887   2942   3003   4883
   5006   5112   3375   3387   3432   4484   4573   4624   7341   7426
   7514   4986   5082   5181   6052   6156   6277  11799  12067  12338
   2848   2890   8064   8314   8702   2032   2077   2106   5941   6010
   6160  49407  50351  51331   1112   1119   1135   1099   1093   1109
    786    805    806  11214  11467  11806    699    716    722   2538
   2530   2550   2510   2531   2573   2140   2173   2214   2595   2628
   2678   3784   3820   3896   3257   3341   3410    839    875    886
    847    865   4392   4518   4581   3240 597015 607559 618356]
[  313   321   329  1053  1117  1186    70    74    75   226   239   240
  1531  1562  1648   217   220   227   141   146   142   432   448   463
   525   566   592    61    62   893   947   983   273   280   290   327
   354   215   219   233   243   156   160   166  1276  1341  1412    91
    98  1174  1261  1313   134   150   131   144   151   308   324   228
   235   248   262   281   283   199   208   213    58    49    54   133
   139    56    53    55   224     1 10202 10440 10690  1465  1487  1548
   183   180   179   182   190   197   115   125   124   748   768   790
  2577  2623  2699   135   136    82    84    93    88    96   458   483
   524   159   176   178   195   204   181   126   118   113    72    76
   201   211    83    85    99   282   292   306   130   152   268   285
   395   407   413   186   193   203  1636  1704  1768   288   294   242
   256   662   682   723  2275  2368  2496   422   426   449   246   264
   253   261   260   310   331   167   171   539   555   569   175   389
   424   433   191   275   300   303   542   560   579   471   506   495
   541   946   995  1063   251   254   270   884   924  1006   149   158
   337   349   350  3513  3643  3780    81    66    65    69  1023  1073
  1107    36    38    43   218   216   185   206   198   297   299   301
   351   109   111   114    44    48   263   277   295   249 48627 50369
 52301]
[  34   36   38   42   49   14   12    5    4    6  130  141  136   51
   57   58    3   97  117  114  119  128   67   74   80   35   40   10
    8   21   22   19    9   11   71   72    7  220  223  232   37   20
   24   39   44   18   23    0    1   26   33  465  496  506  169  162
  157   54   59   62   29   17   65   28   13   16   30   89   90   95
   15    2  243  263  279   41   47   48   76   82   78   73   77  121
  125  132   53   45   27   31  163  187  210   43   46  101   96   98
   63   69  310  334  356   79   93  110   55 4453 4741 4959]
[   76    85    90   109   123   124    23    28    29    19    18   253
   261   284    99   102   108    15    16   119   143   148   165   174
   186    14   127   146   159    75    77    58    59    65    27    38
    40    37    26   172   176    41    33   456   476   479    31    11
    89    84    39    47    45    46    48    79   114   121     8     9
    10    34     4     5    67    66     0  1391  1414  1374   328   361
   394   104    53    49    50    56    62    61    60   246   244   258
    21    22    35    12    13    91    94    17    25    57    24   150
   153   156    52    55    30    20    44   547   581   602   135   131
   133    81    78    83    82   188   178   166   161   164   168   192
    68    70    64   152   155    71    43   317   329   352   170   173
   142   115   129   669   689   734   206   205    36    86    92    51
    54   138   163   116   122  9741 10148 10515]
[   91   103   108   155   170   171    34    33    28    38   450   443
   475   100   107   106    39    45    42   167   173   175   105   112
    53    56   184   188   115   118    84    92   101    78    80    89
    44    48   110   176   182    27   408   437   440    36    30    99
   102   109    90    93    83    82    87    86    21    22    26    25
    19    16    17     0  1046  1110  1145   145   166    88    29   120
   314   322   343    50    43    49    58    31   159   164    47    46
    66    69    74    72    71    20   117   116    70    51    23    24
    37    67    73    94   234   235   261    64    79    85    96   149
   196   203   214   113   123    32    63    76    75   212   211    95
   210   213   125   137   140   225   702   730   747    57   172   183
   200    97    52    62    65    18   221   230   238 10535 10952 11334]
[  4635   4757   4857  17147  17916  18425   1557   1595   1611   3207
   3293   3409  21543  22091  22813   4802   4943   2778   2763   2782
   6212   6421   6508   8717   8906   9056   1668   1690   1706  12513
  12825  13086   3663   3697   3805   5169   5326   5477   3783   3836
   3856   2968   3082   3038   3468   3529   3579  16400  16866  17378
   1188   1163   1179  23834  24594  25323   2543   2571   2567   2642
   2700   2741   4886   5020   5224   4473   4499   4559   5024   5122
   5236   4242   4351   4412    976    977   1003   1530   1571   1634
    981    991   1016   5095   5131   5144     36     34 137462 138499
 139630  19128  19728  20296   3407   3469   3540   2338   2353   2400
   2704   2829   2862   9560   9693   9815  43638  43980  44294   2494
   2546   2602   2077   2108   2187   1091   1120   1157   8573   8767
   9019   2249   2303   2342   2737   2820   2888   3937   3966   3958
   3543   3581   3652   1065   1093   1109   5449   5530   5653   2411
   2434   2457   3768   3907   4033   1066   1107   1124   1773   1801
   1846   3539   3615   3675   5642   5701   5780   3549   3708  25813
  26467  27200   4118   4151   4229   4871   4988   5105   9389   9561
   9779  24709  25476  26030   9311   9531   9811   5315   5453   5605
   4733   4779   4812   5261   5376   5446   4095   4171   4308   2049
   2095   2124   7087   7149   7354   3679   3751   3815   6053   6213
   6318   4294   4331   4379   5407   5521   5580   9906  10078   6251
   6380   6534   7664   7792   7951  14877  15193  15568   3817   3886
  10389  10660  11136   2574   2626   2688   7656   7775   7989  62792
  63969  65201   1436   1449   1489   1527   1522   1554   1046   1072
   1081  14228  14581  14989    949    966    988   3194   3198   3240
   3395   3430   3488   2754   2831   2886   3327   3425   3507   4698
   4751   4852   4468   4619   4756   1112   1141   1114   1151   1181
   6051   6229   6360   4170   4232   4249 756220 770438 785115]

## Creating a Station Dataset

In [8]:
stations=ventas.drop(columns=['Producto','PVP', 'VentasN','Day','Month', 'Year', 'Weekday', 'Fiesta'])
stations.drop_duplicates(inplace=True)
stations.reset_index(inplace=True)
stations=stations.drop(columns=["Dia"])
stations=stations.dropna()

# We check if there is another duplicates in the data by checking the coordinates
stations["Longitud"].duplicated()
stations.drop_duplicates(subset=["Latitud","Longitud"],inplace=True)

#Setting the index to the name of the station
stations=stations.set_index("Nombre").sort_index()

#I think we should take out the coordinates out of the datasets, the value of the information is "included" on the Station itself

import requests

# Convert the 'Latitud' and 'Longitud' columns to string type if they are not already
stations['Latitud'] = stations['Latitud'].astype(str)
stations['Longitud'] = stations['Longitud'].astype(str)

# Replacing dots for commas
stations["Latitud"] = stations["Latitud"].str.replace(",", ".").astype(float)
stations["Longitud"] = stations["Longitud"].str.replace(",", ".").astype(float)

# define a function to get municipality using Nominatim
def get_municipality(lat, lon):
    try:
        url = f"https://nominatim.openstreetmap.org/reverse?lat={lat}&lon={lon}&format=json&accept-language=en&addressdetails=1"
        response = requests.get(url, verify=False)  # Bypass SSL certificate verification
        if response.status_code == 200:
            data = response.json()
            if 'address' in data and 'city' in data['address']:
                return data['address']['city']
            elif 'address' in data and 'town' in data['address']:
                return data['address']['town']
            elif 'address' in data and 'village' in data['address']:
                return data['address']['village']
            elif 'address' in data and 'county' in data['address']:
                return data['address']['county']
    except Exception as e:
        print(f"Error occurred: {e}")
        return None

stations["Municipio"] = stations.apply(lambda x: get_municipality(x["Latitud"], x["Longitud"]), axis=1)

c:\Users\Usuario\AppData\Local\Programs\Python\Python311\Lib\site-packages\urllib3\connectionpool.py:1099: InsecureRequestWarning: Unverified HTTPS request is being made to host 'nominatim.openstreetmap.org'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(
c:\Users\Usuario\AppData\Local\Programs\Python\Python311\Lib\site-packages\urllib3\connectionpool.py:1099: InsecureRequestWarning: Unverified HTTPS request is being made to host 'nominatim.openstreetmap.org'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(
c:\Users\Usuario\AppData\Local\Programs\Python\Python311\Lib\site-packages\urllib3\connectionpool.py:1099: InsecureRequestWarning: Unverified HTTPS request is being made to host 'nominatim.openstreetmap.org'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(
c:\Users\Usuario\AppData\Local\Programs\Python\Python311\Lib\site-packages\urllib3\connectionpool.py:1099: InsecureRequestWarning: Unverified HTTPS request is being made to host 'nominatim.openstreetmap.org'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(
c:\Users\Usuario\AppData\Local\Programs\Python\Python311\Lib\site-packages\urllib3\connectionpool.py:1099: InsecureRequestWarning: Unverified HTTPS request is being made to host 'nominatim.openstreetmap.org'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(
c:\Users\Usuario\AppData\Local\Programs\Python\Python311\Lib\site-packages\urllib3\connectionpool.py:1099: InsecureRequestWarning: Unverified HTTPS request is being made to host 'nominatim.openstreetmap.org'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(
c:\Users\Usuario\AppData\Local\Programs\Python\Python311\Lib\site-packages\urllib3\connectionpool.py:1099: InsecureRequestWarning: Unverified HTTPS request is being made to host 'nominatim.openstreetmap.org'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(
c:\Users\Usuario\AppData\Local\Programs\Python\Python311\Lib\site-packages\urllib3\connectionpool.py:1099: InsecureRequestWarning: Unverified HTTPS request is being made to host 'nominatim.openstreetmap.org'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(
c:\Users\Usuario\AppData\Local\Programs\Python\Python311\Lib\site-packages\urllib3\connectionpool.py:1099: InsecureRequestWarning: Unverified HTTPS request is being made to host 'nominatim.openstreetmap.org'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(
c:\Users\Usuario\AppData\Local\Programs\Python\Python311\Lib\site-packages\urllib3\connectionpool.py:1099: InsecureRequestWarning: Unverified HTTPS request is being made to host 'nominatim.openstreetmap.org'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(
c:\Users\Usuario\AppData\Local\Programs\Python\Python311\Lib\site-packages\urllib3\connectionpool.py:1099: InsecureRequestWarning: Unverified HTTPS request is being made to host 'nominatim.openstreetmap.org'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(
c:\Users\Usuario\AppData\Local\Programs\Python\Python311\Lib\site-packages\urllib3\connectionpool.py:1099: InsecureRequestWarning: Unverified HTTPS request is being made to host 'nominatim.openstreetmap.org'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(

## Merging Datasets

### Concatenating ventas and test

In [9]:
df_ventas_test = pd.concat([com_test, ventas])
df_ventas_test=df_ventas_test.sort_values(by="Dia")

### Merging with meteo

In [10]:
df_ventas_test_meteo = pd.merge(df_ventas_test, meteo, how="inner", left_on=["Dia"], right_on=["fecha"])
df_ventas_test_meteo.drop(columns=["Year_x","Month_x","Day_x","Weekday_x"],inplace=True)

### Merging with Stations

In [11]:
df_ventas_test_meteo_st= pd.merge(df_ventas_test_meteo, stations, how="left", on="Nombre")
df_ventas_test_meteo_st.drop(columns=["index","Latitud_y","Longitud_y"],inplace=True)
df_ventas_test_meteo_st['Year_y'] = df_ventas_test_meteo_st['Year_y'].astype(str)

### Merging with Censo

In [12]:
df_ventas_test_meteo_st_censo = df_ventas_test_meteo_st.merge(censo, how='left', left_on=['Municipio', 'Year_y'], right_on=['Municipio', 'Año'])

### Merging with the Parque data

In [13]:
df_ventas_test_meteo_st_censo_parque = df_ventas_test_meteo_st_censo.merge(parque, how='left', left_on=['Municipio', 'Year_y'], right_on=['Municipios', 'year'])

df_ventas_test_meteo_st_censo_parque.drop(columns=["Municipios","year",'Month_y', 'Day_y', 'Weekday_y','Year_y'], inplace=True)
df_ventas_test_meteo_st_censo_parque.rename(columns={"Latitud_x":"Latitud","Longitud_x": "Longitud"},inplace=True)

### Filling NaN values on the Fiesta column

In [14]:
#Importing a new dataset with the holidays in Spain in 2019 from the Spain Goverment website
file_path = 'Festivos_España_2019.csv'
fiestas2019 = pd.read_csv(file_path)

# Display the first few rows of the dataframe to understand its structure and transforming the data
fiestas2019.head()
fiestas2019['Año'] = 2019
fiestas2019.drop(columns="Descripcion",inplace=True)

# Creating a mapping dictionary for the months to a better performance
month_mapping = {
    "Enero": 1, "Febrero": 2, "Marzo": 3, "Abril": 4, "Mayo": 5, "Junio": 6,
    "Julio": 7, "Agosto": 8, "Septiembre": 9, "Octubre": 10, "Noviembre": 11, "Diciembre": 12
}

# Apply the mapping to the "Mes" column
fiestas2019['Mes'] = fiestas2019['Mes'].map(month_mapping)

# Create a new 'Fecha' column by combining 'Mes', 'Dia', and 'Año'
fiestas2019['Fecha'] = pd.to_datetime(fiestas2019['Dia'].astype(str) + '-' + fiestas2019['Mes'].astype(str) + '-' + fiestas2019['Año'].astype(str), format='%d-%m-%Y')

# Drop the redundant columns
fiestas2019.drop(columns=['Mes', 'Dia', 'Año'], inplace=True)

df_ventas_test_meteo_st_censo_parque['Fiesta'] = df_ventas_test_meteo_st_censo_parque['Dia'].isin(fiestas2019['Fecha']).astype(int)

# Fill NaN values in the "Fiesta" column with 0
df_ventas_test_meteo_st_censo_parque['Fiesta'].fillna(0, inplace=True)

# Ensuring that its well implemented. It is only necessary to include only the first day of the year, but just in case we included the whole year 
#df_ventas_test_meteo_st_censo_parque[df_ventas_test_meteo_st_censo_parque["Dia"]== "2019-01-01"]

In [15]:
df_ventas_test_meteo_st_censo_parque

,Dia,Producto,Latitud,Longitud,PVP,VentasN,Nombre,Fiesta,altitud,dir,...,Total_Poblacion,Año,Camiones y furgonetas,Autobuses,Turismos,Motocicletas,Tractores industriales,Remolques y semirremolques,Otros vehículos,Total
0,2016-01-01,95,"43,34128816","-8,20368109","1,169","0,050400559",ES11,0,58,18,...,5.832,2016,402.0,0.0,2997.0,282.0,9.0,28.0,50.0,3768.0
1,2016-01-01,GOA,"43,50287379","-8,22186654","0,999","0,253466111",ES2,0,58,18,...,68.308,2016,3369.0,149.0,36912.0,2577.0,71.0,246.0,314.0,43638.0
2,2016-01-01,95,"43,50287379","-8,22186654","1,169","0,094742677",ES2,0,58,18,...,68.308,2016,3369.0,149.0,36912.0,2577.0,71.0,246.0,314.0,43638.0
3,2016-01-01,GOA,"43,11401346","-8,14795451","1,024","0,200228453",ES1,0,58,18,...,3.980,2016,570.0,7.0,2409.0,183.0,54.0,104.0,80.0,3407.0
4,2016-01-01,GOA,"43,47224306","-8,16188278","1,009","0,264573161",ES12,0,58,18,...,13.250,2016,737.0,0.0,7899.0,748.0,21.0,62.0,93.0,9560.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25729,2019-01-31,GOA,"43,11401346","-8,14795451","1,229","0,678990783085324",ES1,0,58,24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25730,2019-01-31,GOA,"43,27540082","-8,52940773","1,219","0,469943891759564",ES3,0,58,24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25731,2019-01-31,95,"43,27540082","-8,52940773","1,249","0,0781851489784686",ES3,0,58,24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25732,2019-01-31,GOA,"43,47224306","-8,16188278","1,239","0,631072859296452",ES12,0,58,24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25733,2019-01-31,95,"43,47224306","-8,16188278","1,269","0,247782268962576",ES12,0,58,24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN